@import 'typeface-fira-code';
@import 'typeface-jetbrains-mono';


/* In your src/index.css or App.css */
* {
  font-family: 'Nunito', sans-serif;
}


/* Ensure header margin is not affecting other components */
#header, #headerProgramPage {
  margin: 50px 0;
  position: relative; /* Ensure no overflow or layout issues */
}

/* Title style */
#header > p, #headerProgramPage {
  color: #3472A2;
  font-weight: 500;
  font-size: 16px;
}

/* Pygram color styles */
.py {
  color: #3472A2;
}

.grams {
  color: #FFD340;
}

/* Bold Links */
.boldLinks {
  color: #3890d4!important;
}

.boldLinks:hover {
  color: #FFD340!important;
}

/* Functions Section */
#functions > div {
  display: inline-block;
  width: 20rem;
  margin: 10px;
  padding: 10px;
  vertical-align: top;
}

#functions > div > div {
  border: 2px solid #3472A2;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 0;
}

#functions > div > div > ul > li, li {
  list-style: none;
}

/* Footer styling */
#footer {
  color: white;
  background-color: #313131;
  padding: 25px;
}

/* Masonry grid layout */
.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

/* General Link Styles */
a {
  text-decoration: none; /* Remove underline */
  color: #0077cc; /* Default link color */
  font-weight: bold; /* Make the link text bold */
  transition: all 0.3s ease; /* Smooth transition for all styles */
  display: inline-block; /* Ensure proper scaling */
}

/* Zooming animation only for anchor tags inside li elements */
ul > li > a {
  transition: transform 0.3s ease; /* Ensure smooth zoom effect */
}

/* Hover Effect: Zooming the hovered link */
ul > li > a:hover {
  color: #005fa3; /* Darker color on hover */
  transform: scale(1.1); /* Scale the hovered link */
  z-index: 2; /* Bring hovered link to the front */
}

/* Effect for links above and below the hovered one */
ul > li > a:hover ~ a,
ul > li > a:hover + a {
  transform: scale(0.95); /* Zoom out the neighboring links */
  opacity: 0.8; /* Slightly reduce the opacity of neighboring links */
}



/* Active Link */
a:active {
  color: #003d73; /* Darker color when active */
  transform: translateY(0); /* Reset transform during click */
}


/* copy button */
.copycssdsign{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #FFD814;
  border: 1px solid #FCD200;
  font-size: 11px;
  height: 22px;
  padding: 0 6px;
  text-align: center;
  font-weight: 500;
  color: #0F1111;
}
.copycssdsign:hover{
  background: #F7CA00;
  border-color: #F2C200;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
.copycssdsign:active{
  font-size: 10px;
}
.copybutton{
  padding: 10px;
}
.copybox{
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
}